AllowOverride All

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.pedroo.net [NC]
RewriteRule ^(.*)$ https://pedroo.net/$1 [L,R=301]
</IfModule>

ErrorDocument 404 https://pedroo.net/404.html
